@import url("https://fonts.cdnfonts.com/css/bender");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Bender", sans-serif;
  min-height: 100vh;
  color: #fff;
}

button {
  color: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4em;
}

a {
  color: #00a5ff;
  text-decoration: underline;
}

.container {
  width: 86.5px;
  height: 86.5px;
  border: 1px solid #414546;
  border-top: none;
  border-left: none;
  padding: 2px 3px;
  background-image: url("/dogtag.png");
  background-size: contain;
}

.container.blank {
  width: 86.5px;
  height: 86.5px;
  border: 1px solid #414546;
  border-top: none;
  border-left: none;
  padding: 2px 3px;
  background: none;
}

.container.cheater {
  background-color: #162127;
}

.container.rmt {
  background-color: #271626;
}

.container p {
  font-size: 12px;
  text-align: right;
  user-select: none;
}

.container:hover {
  background-color: #5e5e5f;
  cursor: pointer;
}

.container.blank:hover {
  background: none !important;
  cursor: default !important;
}

small {
  font-size: 10px;
  line-height: -2px;
}